#notes_container {
	position: relative;
	align-self: center;
	text-align: left;
	text-shadow: none;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	max-width: 40em;
	max-height: 40vh;
	min-height: 1em;
	padding: 1.5em;
	border-radius: 0.7em;
	border: 1px solid rgba(255, 255, 255, 0.075);
	overflow-x: hidden;
	overflow-y: auto;

	cursor: auto;
	pointer-events: all;
	touch-action: all;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;

	@include frostedGlass($tint: 255, $alpha: 0.1, $blur: 10px, $fbAlpha: 0.4, $fbColor: #fff);

	&.hidden {
		display: none;
	}

	&.opaque {
		color: #222;
	}

	&.center-align {
		text-align: center;
	}

	&.right-align {
		text-align: right;
	}

	&:focus-visible {
		outline: 2px solid var(--blue);
	}

	// div#notes_parsed {
	// 	word-break: break-word;
	// 	cursor: auto;
	// 	content: 'wow';

	// 	&:empty:after {
	// 		content: attr(placeholder);
	// 		opacity: 0.5;
	// 	}

	// 	input[type='checkbox'] {
	// 		width: 1.2em;
	// 		height: 1.2em;
	// 		cursor: pointer;
	// 	}

	// 	blockquote {
	// 		border-left: 2px solid #fff3;
	// 		padding-left: 1em;
	// 		margin-left: 1em;
	// 	}

	// 	h1,
	// 	h2,
	// 	h3,
	// 	h4,
	// 	h5,
	// 	h6 {
	// 		margin: 0.75em 0;
	// 	}

	// 	ul {
	// 		padding-left: 1em;
	// 	}

	// 	li {
	// 		list-style: inherit;
	// 	}

	// 	a {
	// 		color: inherit;

	// 		&:hover,
	// 		&:focus {
	// 			color: var(--blue);
	// 		}
	// 	}
	// }
}
